.text-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.input-label {
  margin-bottom: 6px;
}

.required-indicator {
  margin-left: 2px;
}

.text-input {
  padding: 8px 12px;

  &:disabled {
    cursor: not-allowed;
  }

  &.error {
    border-color: #dc2626;
  }
}