<div class="text-input-container" [formGroup]="form">
  @if (field && formControl) {
    <input
      [formControlName]="field.name"
      type="text"
      [id]="field.name"
      [name]="field.name"
      [placeholder]="placeholder"
      [attr.minlength]="minLength"
      class="text-input"
      [class.error]="formControl.invalid && formControl.touched">

    @if (field.toolTipText) {
      <div class="tooltip">
        <i class="info-icon">i</i>
        <span class="tooltip-text">{{ field.toolTipText }}</span>
      </div>
    }
  }
</div>