<form [formGroup]="pageForm" (ngSubmit)="onSubmit()" class="page-form">
    <div class="app-page">
      @if (leftSectionFields) {
        <app-fields-section
          [fields]="leftSectionFields"
          [form]="pageForm"/>
      }
      @if (rightSectionFields) {
        <app-fields-section
          [fields]="rightSectionFields"
          [form]="pageForm"/>
      }
    </div>

  <div class="form-actions">
    <app-submit-button
      label="Submit Form"
      [loading]="pageForm.pending"
      [disabled]="pageForm.invalid"
      variant="primary"
      (submitClick)="onSubmit()">
    </app-submit-button>
  </div>
</form>