<div class="field-container-root">
  @if (field && field.label) {
  <h2 class="field-container__title">{{ field.label }}</h2>
  }

  @if (field) {
  <div class="field-container__body">
    <label class="field-label">
      {{ field.label }}
      @if (field.input.validation?.required) {
      <span class="required-indicator">*</span>
      }
    </label>

    <div>
      @switch (field.input.dataType) {
        @case ('text') {
        <app-text-input [field]="field" [form]="form">
        </app-text-input>
        }
        @case ('number') {
        <app-number-input [field]="field" [form]="form">
        </app-number-input>
        }
        @default {
        <div>Unsupported field type: {{ field.input.dataType }}</div>
        }
        }
    </div>

    @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
    <div class="field-error">
      {{ field.name }} is invalid.
    </div>
    }
  </div>
  }
</div>