<div class="field-container-root">
  @if (field && field.label) {
  <h2 class="field-container__title">{{ field.label }}</h2>
  }

  @if (field) {
  <div class="field-container__body">
    <label class="field-label">
      {{ field.label }}
      @if (field.input.validation?.required) {
      <span class="required-indicator">*</span>
      }
    </label>

    <div>
      @switch (field.input.dataType) {
        @case ('text') {
          <app-text-input [field]="field" />
        }
        @case ('number') {
          <app-number-input [field]="field" />
        }
        @default {
          <div>Unsupported field type: {{ field.input.dataType }}</div>
        }
      }
    </div>

  </div>
  }
</div>